.second {

  position: relative;
  margin-top: 0;
}

.left{
  border-radius: 25px;
  position:absolute;
  height:400px;
  width: 500px;
  top:0;
  left:0px;
  border: 5px solid #BBC3C4;
}

.right{
  position: absolute;
  border-radius: 25px;
  background-color: #96DCE5;
  height: 400px;
  width: calc(100% - 545px);
  top: 0;

  left: 500px;
  margin-top: 7px;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 20px;
  background-color: #99CCFF;

  left:520px;

  left: 520px;



}
.box {

  position: relative;
  height: 200px;
  width: 500px;
}

.box1 {
  top: 0
}
.box2 {
  //top: 101px;

}

.third {
  background: #8B8B8B;
  position: relative;
  height: 300px;
  width: 100%;
  top: 440px;

}
.key{
  position: absolute;
  height: 300px;
  width: 30%;
  top: 0;
  left: calc(100% - 30%);

}
.map{
  position: relative;
  height: 300px;
  width: 70%;
  top: 0;

}
