.second {

  position: relative;
  margin-top: 0;
}

.left{
  border-radius: 25px;
  position:absolute;
  margin-top:1%;
  left:71%;
  border: 5px solid #BBC3C4;
}

.right{
  position: absolute;
  border-radius: 25px;
  background-color: #96DCE5;

  margin-top: 125px;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-left: 20px;
  background-color: #99CCFF;

  left:68%;
}/*
.box {

  position: relative;
}

.box1 {
  top: 0
}
.box2 {
  //top: 101px;

}
*/
.third {
  background: #8B8B8B;
  position: relative;
  height: 300px;
  width: 100%;
}
.key{
  position: absolute;
  height: 300px;
  width: 30%;
  top: 0;
  left: calc(100% - 30%);

}
.map{
  position: relative;
  height: 100%;
  width: 70%;
  top: 0;

}
.above{
  margin-top:15px;
}
