.second {
  background: black;
  position: relative;
  height:50px;
  margin-top: 0;
}

.left{
  position:absolute;
  height:400px;
  width: 500px;
  top:60px;
  left:0;
  border: 1px solid blue
}

.right{
  position: absolute;
  height: 400px;
  width: calc(100% - 500px);
  top: 60px;
  left: 500px;
  border: 1px solid red

}
.box {
  background: gray;
  position: relative;
  height: 200px;
  width: 500px;
}

.box1 {
  top: 0
}
.box2 {
  //top: 100px;

}

.third {
  background: green;
  position: relative;
  height: 100px;
  width: 100%;
  top: 475px;

}
.key{
  position: absolute;
  height: 100px;
  width: 500px;
  top: 0;
  left: 1000px;
  border: 1px solid blue
}
.map{

}
